@font-face {
    font-family: "RegulatorNova";
    src: url("../fonts/regulator-nova-bold.otf");
}

@font-face {
    font-family: "RegulatorNova";
    src: url("../fonts/regulator-nova-bold-italic.otf");
}

@font-face {
    font-family: "RegulatorNova";
    src: url("../fonts/regulator-nova-demibold-italic.otf");
    font-weight: 300;
}

@font-face {
    font-family: "AllRoundGothic";
    src: url("../fonts/all-round-gothic-demi.otf");
}

@font-face {
    font-family: "Jumper";
    src: url("../fonts/JumperPERSONALUSEONLY-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Jumper";
    src: url("../fonts/JumperPERSONALUSEONLY-BoldItalic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Jumper";
    src: url("../fonts/JumperPERSONALUSEONLY-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Jumper";
    src: url("../fonts/JumperPERSONALUSEONLY-Regular.ttf");
    font-weight: 400;
}


@font-face {
    font-family: "Jumper";
    src: url("../fonts/JumperPERSONALUSEONLY-Thin.ttf");
    font-weight: 300;
}



.fondo-fundadoras {
    background-color: #DFD5BE;
}

.fundadoras-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 30px;
}

.elemento-central-fundadoras img {
    margin-block: 10px;
    width: 80px;
    height: auto;
    margin-inline: auto;
}


.hero-banner h1 {
    margin-top: -30px;
    font-family: 'Jumper', sans-serif;
    font-weight: 500;
}

.reservar-btn-banner {
    font-family: 'Jumper', sans-serif;
}

.elemento-central-fundadoras {
    position: relative;
    background-image: url(../images/ubarre/2x/index@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    width: 400px;
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
}

.elemento-central-fundadoras::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.elemento-central-fundadoras>* {
    position: relative;
    z-index: 1;
}

.fundadoras-nombre {
    margin-inline: auto;
}

.fundadoras-nombre p {
    font-family: 'Jumper';
    line-height: 1;
    font-size: 3.2rem;
    font-weight: 500;
    color: #F2EEEA;
}

.button-fundadoras {
    position: absolute;
    top: 5%;
    left: 5%;
}

.elementos-izquierda-fundadoras {
    position: relative;
    display: flex;
    padding-left: 20px;
    height: 100%;
}

.elemento-top-fundadoras {
    margin-bottom: auto;
    position: absolute;
    top: 0%;
}

.elemento-top-fundadoras img {
    width: 20px;
}

.elemento-bottom-fundadoras {
    margin-top: auto;
}

.elemento-bottom-fundadoras p {
    font-family: 'AllRoundGothic';
    line-height: 1;
    font-size: 1rem;
    text-align: right;
}

.elemento-bottom-fundadoras h4 {
    font-family: 'RegulatorNova', sans-serif;
    font-size: 2.5rem;
    color: #0C0D0F;
}

.elementos-derecha-fundadoras {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: right;
    padding-right: 20px;
}


.fila-izquierda img {
    width: 20px;
}

.descripcion-section {
    background-image: url(../images/ubarre/2x/fondo2@2x.png);
    width: 100%;
    background-repeat: no-repeat;
    height: auto;
    min-height: 550px;
    color: black;
}

.descripcion-section p {
    font-family: 'Jumper', sans-serif;
    font-weight: 500;
    color: black;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.1;
}

.descripcion-section a {
    font-weight: 'Jumper', sans-serif;
    width: 120px;
    text-align: center;
    margin-inline: auto;
    text-decoration: underline;
}

.descripcion-section img {
    width: 30px;
    padding-block: 20px 50px;
}

.wellness-texto {
    max-width: 240px;
    margin-block: 20px;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
}

.wellness-texto p {
    margin-top: 0px !important;
    font-family: 'Jumper', sans-serif;
    font-weight: 800 !important;
    font-size: 15px;

}

.wellness-texto img {
    width: 15px;
    margin-top: 25px;
    height: auto;
    margin-inline: 5px;
}

.fondo-coaches {
    background-image: url(../images/ubarre/2x/fondo2@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.coaches-section {
    height: auto;
}

.slider {
    width: 100vw;
    padding-block: 0px;
    height: auto;
}

.slide {
    height: 100%;
    border-radius: 0px;
}

.slide img {
    filter: brightness(0.9);
}

.sli1 {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 750px;
    border-radius: 0px;
}


.sli1 img {
    min-height: 650px;
    object-fit: cover;
    height: 100%;
}

.coaches-slider-discipline {
    display: none;
}

.slider-container {
    gap: 0px;
    width: 100vw;
    margin-inline: auto;
}

.slide.center {
    transform: scale(1);
}

.container-slider-bebidas {
    position: relative;
}

.container-slider-bebidas img {
    width: 30px;
}

.flecha-slider-izquierda {
    transform: rotate(90deg);
    position: absolute;
    left: 5%;
    top: 20%;
    transform: all 0.8s ease-in-out;
}

.flecha-slider-derecha {
    transform: rotate(-90deg);
    position: absolute;
    right: 5%;
    top: 20%;
    transform: all 0.8s ease-in-out;
}


.slider-container-global {
    position: relative;
    width: 100vw;
    height: auto;
}

.flecha-slider {
    position: absolute;
    z-index: 5;
    transition: all 200ms ease;
    height: fit-content;
}

.fi {
    left: 2%;
}

.fd {
    right: 2%;
}

.contenido-slider {
    width: 100%;
    height: 100%;
    position: absolute;
}

.texto-slider {
    width: 200px;
    margin-inline: auto;
    margin-top: 50%;
}

.texto-slider p {
    font-family: 'Jumper', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #F2EEEA;
    font-size: 40px;
    font-style: normal;
}

.texto-slider a {
    font-family: 'RegulatorNova', sans-serif;
    padding-bottom: 5px;
    font-weight: 300;
    margin-inline: auto;
    width: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #F2EEEA;
    border: 1px solid #F2EEEA;
    border-radius: 10px;
    font-size: 20px;
    transition: all 500ms ease;
}

.texto-slider a:hover {
    background-color: var(--white);
    color: var(--black);
}

.texto-slider-final {
    position: absolute;
    text-align: center;
    color: #F2EEEA;
    bottom: 5%;
}


.texto-slider-final p {
    font-family: 'Jumper', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.texto-slider-final a {
    text-decoration: underline;
    font-size: 10px;
}

.membresias-section {
    background-color: #DFD5BE;
}

.membresias-section h2 {
    color: #56514F;
    font-style: italic;
    font-size: 4rem;
}

.cards-container {
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.card {
    justify-content: center;
    align-items: center;
    width: 380px;
    padding: 40px 75px;
    border-bottom-left-radius: 10px;
}

.tipo-card {
    color: #0C0D0F;
    font-family: 'Jumper', sans-serif;
}

.numero-clases-card {
    color: #8B976A;
    margin-top: -30px;
    margin-bottom: -50px;
}

.precio-card {
    color: #56514F;
    font-family: 'AllroundGothic', sans-serif;
}

.vigencia-card {
    color: #56514F;
}

.card a {
    background-color: #38373700;
    color: #0C0D0F;
    text-decoration: underline;
    font-weight: 600;
    margin-top: 40px;
}

.main-section-paquetes {
    background-image: url(../images/ubarre/2x/fondo2@2x.png);
}


.ver-mas-paquetes-btn {
    background-color: #38373700;
    color: #0C0D0F;
    font-family: 'RegulatorNova', sans-serif;
    text-decoration: underline;
}

.ver-mas-paquetes-btn:hover {
    background-color: #38373700;
    color: #0C0D0F;
    text-decoration: underline;
}

.preguntas-section {
    background-image: url(../images/ubarre/2x/fondo2@2x.png);
    object-fit: cover;
}

.preguntas-section h2 {
    font-family: 'RegulatorNova', sans-serif;
    font-weight: 400;
    color: #56514F;
}


.container-accordion {
    border: 1px solid #56514F;
    border-radius: 10px;
    height: auto;
    margin-block: 10px;
}

.accordion {
    width: 100%;
    margin-inline: auto;
}

.panel {
    margin-inline: auto;
    margin-bottom: 10px;
    color: #56514F;
    border: none;
}

.accordion>p {
    color: #56514F;
    text-decoration: underline;
}

.aboutus-fundadoras-fondo {
    background-color: #DFD5BE;
}

.aboutus-elemento-izquierda img {
    width: 20px;
}

.aboutus-fundadoras {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-inline: auto;
}

.aboutus-top {
    width: 95%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
}

.aboutus-bottom {
    width: 95%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-block: 20px 50px;
    margin-bottom: -20px;
}

.aboutus-elemento-izquierda {
    margin-right: auto;
    left: 0%;
}

.aboutus-elemento-derecha {
    margin-left: auto;
    right: 0%;
}

.aboutus-elemento-derecha img {
    width: 30px;
}

.elemento-reviving {
    margin-top: 0px;
}

.aboutus-middle {
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.texto-aboutus-middle {
    width: 50%;
    text-align: center;
    margin-inline: auto;
}

.texto-aboutus-middle h3 {
    font-family: 'RegulatorNova', sans-serif;
    color: #56514F;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

.texto-aboutus-middle p {
    font-family: 'Jumper', sans-serif;

    width: 80%;
    margin-inline: auto;
    font-weight: 400;
    line-height: 1.3;
    font-size: 1.6rem;
}

.footer {
    background-color: #8B976A;
    height: 400px;
    color: #56514F;
}

#video-footer {
    display: none;
}

.terminos-container {
    color: #56514F;
}

.terminos-container a {
    font-family: 'Jumper', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.icons-container img {
    filter: invert(0);
}

.encuentra-container {
    background-color: #FFFFFF;
    padding-inline: 2%;
    padding-block: 3%;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.encuentra-container-calendario {
    margin-block: 40px;
    background-color: #FFFFFF;
    padding-inline: 2%;
    padding-block: 2%;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.slider-calendar-container {
    margin-top: 0px;
}

.first-flex {
    margin-top: 0px;
}

.second-flex {
    justify-content: start;
}

.second-flex p {
    font-size: 1.2rem;
}


.icono-reserva {
    width: 25px;
}

.aforo-icono {
    width: 15px;
}

.inputs-reserva-container {
    justify-content: end;
    gap: 3rem;
    margin-top: -20px;
}

.inputs-reserva-container select {
    font-size: 10px;
    text-align: left;
    height: auto;
    padding-block: 5px;
    padding-inline: 5px;
    width: 105px;
    background-size: 10px;
}

.elemento-clase {
    width: 90%;
    height: 150px;
    margin-inline: auto;
    border-bottom: none;
    margin-block: 20px;
    background-color: #F2EEEA;
    padding-right: 20px;
    border-radius: 100px;
    overflow: hidden;
    padding-block: 0px;
}

.elemento-clase-confirmacion {
    width: 98%;
    margin-block: 40px;
    height: 150px;
    margin-inline: auto;
    border-bottom: none;
    margin-block: 20px;
    background-color: #F2EEEA;
    padding-right: 20px;
    border-radius: 100px;
    overflow: hidden;
    padding-block: 0px;
    justify-content: center;
    align-items: center;
}




.fecha-clase-container {
    width: 95%;
    margin-inline: auto;
}

.img-clase-container {
    height: 100%;
    border-radius: 0px;
}

.map-section-bottom {
    background-color: #8B976A;
}

.main-section-contacto {
    background-image: url(../images/ubarre/2x/fondo_ubarre@2x.png);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.general-form-container {
    width: 450px;
}

.logo-container {
    padding-top: 200px;
    padding-bottom: 80px;
}

.logo-form-container {
    position: relative;
    background-color: #8B976A;
    height: 80px;

}

.logo-form-container img {
    width: 150px;
    position: absolute;
    top: 30%;
    margin-inline: auto;
    left: 0%;
    right: 0%;
}

form .submit-btn {
    background-color: #8B976A;
}

.map-section iframe {
    width: 100%;
    height: 70vh;
    max-height: 600px;
}

.elementos-top-coaches {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-inline: auto;
    padding-top: 50px;
}

.elemento-titulo-coaches {
    width: 95%;
    margin-inline: auto;
    text-align: center;
    color: #56514F;
    margin-bottom: 100px;
    font-size: 3rem;
}

.elemento-coaches-derecha {
    margin-left: auto;
}

.elementos-top-coaches img {
    width: 30px;
}

.training-for-life-section {
    margin-block: 50px;
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
    border-radius: 50px;
}

.coach {
    background-color: #FFFFFF;
    height: 450px;
}

.text-side {
    width: 70%;
    color: #56514F;
    background-color: #38373700;
}

.coach .image-side {
    border-radius: 50px;
    width: 30%;
    min-width: 350px
}

.coach .image-side img {
    object-fit: cover;
}

.coach .text-side h3 {
    text-align: center;
    color: #8B976A;
    font-size: 6rem;
    margin-bottom: 30px;
}

.coach .text-side p {
    margin-inline: auto;
    text-align: center;
    font-size: 2rem;
}

.coach .text-side a:first-of-type {
    margin-inline: auto;
    text-align: center;
    color: #0C0D0F;
}

.subtitulo-coach {
    padding-block: 20px;
    width: 210px;
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
}

.subtitulo-coach p {
    font-size: 1.8rem !important;
    margin-inline: 0px;
    font-weight: 600;
    margin-inline: 0px !important;
    color: #0C0D0F;
}

.subtitulo-coach img {
    width: 15px;
}

.inputs-container {
    display: none;
}

.membresias-paquetes .cards-container {
    gap: 50px;
}

.membresias-paquetes .card:hover {
    background-color: #DFD5BE;
}

.membresias-paquetes .card:hover a {
    border: 0px;
}

.membresias-paquetes .card a:hover {
    background-color: #38373700;
}

.tipo-card {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.main-section-paquetes h1 {
    color: #56514F;
}

.elemento-top-beneficios img {
    width: 30px;
}

.beneficios-section-texto {
    padding-block: 30px;
    background-image: url(../images/ubarre/2x/fondo2@2x.png);
}

.texto-central-beneficios {
    width: 90%;
    margin-inline: auto;
    text-align: center;
    padding-block: 30px;
}

.texto-central-beneficios h3 {
    font-size: 4rem;
    font-weight: 600;
    color: #56514F;
}

.texto-central-beneficios p {
    width: 550px;
    margin-inline: auto;
    line-height: 1.4;
    font-size: 1.8rem;
    font-weight: 500;
    margin-block: 20px 50px;
    color: #56514F;

}

.wellness-beneficios {
    width: 210px;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.wellness-beneficios img {
    margin-top: -5px;
    margin-right: 40px;
    width: 15px;
}

.wellness-beneficios p {
    font-weight: 700;
    color: #0C0D0F;
    font-size: 1.7rem;
    width: 200px;
    margin-block: 0px;
    font-weight: 600;
}

.elemento-bottom-beneficios {
    width: 95%;
    margin-inline: auto;
    text-align: right;
}

.elemento-top-beneficios {
    width: 95%;
    margin-inline: auto;
}

.elemento-bottom-beneficios p {
    line-height: 1.2;
    font-size: 1rem;
    font-weight: 600;
}


.beneficios-barre {
    background-image: url(../images/ubarre/2x/befeficios@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 130rem;
}

.beneficios-barre img {
    width: 300px;
    margin-inline: auto;
    padding-top: 80px;
    margin-bottom: 80px;
}

.beneficios-del-barre {
    width: 80%;
    margin-inline: auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
}

.titulo-beneficios {
    align-items: center;
    width: 55%;
    text-align: center;
}

.titulo-beneficios h3 {
    margin-inline: auto;
    margin-bottom: 125px;
    font-size: 7rem;
    width: 350px;
    font-weight: 500;
    line-height: 1;
}

.listado-beneficios {
    width: 40%;
    display: flex;
}

.linea-beneficios {
    margin-top: 20px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    position: relative;
}

.linea-beneficios::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #FFFFFF;
}


.linea-beneficios .punto {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #FFFFFF;
    z-index: 1;
}

.beneficio-container {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    width: 170px;
    text-align: center;
}

.beneficio-container h4 {
    font-size: 2.3rem;
    text-align: center;
    font-weight: 400;
    font-style: italic;
}

.texto-beneficios p {
    font-weight: 400;
    margin-top: 10px;
    margin-left: 5px;
    width: 200px;
    line-height: 1.2;
}

.texto-beneficios {
    margin-bottom: 100px;
}

.nombre-coach {
    margin-block: auto;
}

.nombre-coach>p {
    color: #8B976A;
}

.detalles-clase-container>p {
    color: #0C0D0F;
}

.nombrecoach-horarioclase {
    justify-content: center;
    margin-left: 20px;
    gap: 80px;
}

.version-confirmacion {
    margin-left: 0px;
    gap: 50px;
}

.btn-reservar-clase-container a {
    background-color: #38373700;
    border: 1px solid #0C0D0F;
    color: #0C0D0F;
    font-size: 1.8rem;
    padding: 0px 20px;
    margin-right: 50px;
}

.btn-reservar-clase-container a:hover {
    background-color: #38373700;
}

.iconos-container {
    align-items: normal;
    display: flex;
    flex-direction: column;
    width: 120px;
    gap: 5px;
}

.iconos-container img {
    width: 30px;
}

.status-clase-icono {
    display: flex;
    flex-direction: row;
}

.status-clase-icono p {
    margin-left: 5px;
    font-size: 1rem;
    margin-block: auto;
}

.aforo-container img {
    width: 20px;
    margin-left: 5px;
}

.contenido-modal-coach-container {
    padding: 0px;
    overflow: hidden;
}

.foto-coach-details-modal {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 200px;
    object-fit: cover;
}

.contenido-texto-modal {
    font-size: 1.2rem;
    width: 80%;
    margin-inline: auto;
    margin-block: 20px 50px;
}


.texto-coach-details-modal {
    font-size: 12px;
}

.nombre-coach-details-modal {
    color: #8B976A;
    font-size: 3rem;
}


.my-acount-link {
    color: #8B976A;
    font-family: 'AllRoundGothic', sans-serif;
}

.contenido-texto-modal a {
    margin-top: 20px;
    text-align: center;
    margin-inline: auto;
    color: #56514F;
    text-decoration: underline;
}

.modal-detalles-coach {
    width: 300px;
    height: 450px;
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity .2s ease, transform .2s ease;
    z-index: 500;
}

.modal-detalles-coach.show {
    opacity: 1;
    transform: translateY(0);
}

.boton-reserva p {
    width: 130px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #38373700;
    border: 1px solid #56514F;
    color: #56514F;
    font-size: 1.8rem;
    padding: 0px 20px;
    margin-right: 50px;
    text-align: center;
}

.login-form {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 0px;
}

.form-login-logo {
    margin-top: -20px;
}

.container-login-form {
    width: 90%;
    margin-inline: auto;
}

.container-login-form a {
    margin-inline: auto;
    text-align: center;
}

.login-form label {
    margin-left: 0px;
    width: 90%;
    display: block;
    margin-bottom: 0px;
}

.olv-contra {
    margin-inline: auto;
    text-decoration: none;
}

.login-form>h2 {
    color: #8B976A;
}

.login-submit-btn {
    background-color: #8B976A;
}

.login-submit-btn:hover {
    background-color: #657046;
}

.registro-mensaje>span {
    text-decoration: none;
}

.registro-mensaje {
    color: #000;
    font-weight: 500;
}

.btn-reservar-clase-container p {
    border-radius: 10px;
    background-color: #8B976A;
    color: #fff;
    font-size: 1.8rem;
    padding: 0px 20px;
    margin-right: 50px;
    cursor: pointer;
    transition: all 500ms ease;
}

.btn-reservar-clase-container p:hover {
    background-color: #647042;
}


.modal-detalles-bebida {
    width: 350px;
    height: fit-content;
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity .2s ease, transform .2s ease;
    z-index: 500;
}

.modal-detalles-bebida.show {
    opacity: 1;
    transform: translateY(0);
}

.calendar-slider-number {
    color: #56514F;
}

.active-day {
    background-color: #38373700;
    color: #56514F;
}

.slide-bebida {
    text-align: center;
}

.slide-bebida img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.slide-bebida h3 {
    font-size: 3rem;
    color: #8B976A;
    margin-top: 15px;
    font-weight: 400;
}

.slide-bebida p {
    margin-block: 5px;
    text-decoration: underline;
    color: #0C0D0F;
    font-size: 2rem;
    font-weight: 500;
}

.botones-bebida {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-inline: auto;
    margin-bottom: 20px;
}

.botones-bebida button {
    width: 120px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #8B976A;
    color: #8B976A;
    font-size: 600;
}

.btn-confirmar-bebida button {
    color: #FFFFFF;
    background-color: #8B976A;
}

.botones-bebida a {
    width: 120px;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #8B976A;
    color: #8B976A;
    font-size: 600;
}

.btn-confirmar-bebida a {
    color: #FFFFFF;
    background-color: #8B976A;
}

.dropdown {
    margin-block: 30px 30px;
    color: #56514F;
    border-radius: 5px;
    margin-inline: auto;
    position: relative;
    width: 200px;
    font-family: sans-serif;
    user-select: none;
}

.dropdown-toggle {
    padding: 5px 10px;
    border: 1px solid #DFD5BE;
    border-radius: 5px;
    cursor: pointer;
    background-color: #FFFFFF;
    transition: all 0.3s ease;
}

.dropdown-toggle::after {
    content: "▼";
    color: #DFD5BE;
    float: right;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.dropdown.open .dropdown-toggle::after {
    transform: rotate(-180deg);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    border: 1px solid #DFD5BE;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: #FFFFFF;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    opacity: 0;
    z-index: 10;
}

.smoothies-disponibles {
    margin-top: -3rem;
}

.dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}

.dropdown-menu li {
    padding: 10px 15px;
    cursor: pointer;
    transition: background 0.2s;
}

.dropdown-menu li:hover {
    background-color: #FFFFFF;
}

.container-slider-bebidas {
    position: relative;
    width: 100%;
    height: 100%;
}

.slides-wrapper {
    display: flex;
    transition: transform 0.4s ease;
    width: 100%;
    height: 100%;
}

.slide-bebida {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.reserva-main-section {
    background-image: url(../images/ubarre/2x/fondo2@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -20px;
}

.confirmar-reserva-btn {
    background-color: #8B976A;
    color: #F2EEEA;
}

.confirmar-reserva-btn:hover {
    background-color: #8B976A;
    color: #F2EEEA;
}

.cancelar-confirmacion-reserva-btn {
    border: 1px solid #8B976A;
    color: #8B976A;
}

.cancelar-confirmacion-reserva-btn:hover {
    background-color: #8B976A;
}

.disciplina-clase-container>p {
    color: #8B976A;
}


.nombre-bebida {
    line-height: 1.2;
}

.nombre-bebida p {
    font-size: 2.2rem;
    color: #8B976A;
}

.nombre-bebida h4 {
    color: #56514F;
    font-size: 1.6rem;
    margin-block: 0px;

}

.confirmation-section {
    width: 80%;
}

.horario-clase {
    margin-block: auto;
}

.disciplina-clase-container {
    margin-block: auto;
}

@media(min-width: 300px) and (max-width: 399px) {
    .fundadoras-section {
        position: relative;
        height: 550px;
        display: flex;
        flex-direction: column;
    }

    .elemento-central-fundadoras {
        margin-top: 40px;
        width: 95%;
        margin-inline: auto;
        height: 400px;
    }

    .elementos-izquierda-fundadoras {
        position: absolute;
        height: 90%;
    }

    .elementos-derecha-fundadoras {
        position: absolute;
        height: 90%;
        right: 0%;
    }

    .fila-izquierda {
        top: -2%;
    }

    .fundadoras-nombre p {
        font-size: 2.8rem;
    }

    .elemento-bottom-fundadoras h4 {
        font-size: 2rem;
    }

    .descripcion-section img {
        padding-bottom: 80px;
    }

    .descripcion-section p {
        width: 95%;
        margin-inline: auto;
        font-size: 1.5rem;
    }

    .descripcion-section p:last-of-type {
        font-size: 1.5rem;
    }

    .wellness-texto {
        width: 190px;
    }

    .wellness-texto p {
        margin-bottom: 0px !important;
    }

    .wellness-texto img {
        width: 13px;
        margin-top: -5px;
        padding-block: 0px;
        margin-left: -10px;
    }

    .slide {
        flex: 0 0 100%;
        width: 100vw;
    }

    .slider img {
        width: 100%;
    }

    .texto-slider {
        margin-top: 70%;
    }

    .texto-slider p {
        font-size: 3.5rem;
    }

    .texto-slider a {
        width: 130px;

    }

    .card {
        width: 95%;
    }

    .elemento-central-preguntas {
        margin-block: 80px;
    }

    .preguntas-version {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
    }

    .accordion {
        width: 95%;
        margin-inline: auto;
    }

    .logo-container {
        padding-top: 150px;
    }

    .logo-container img {
        width: 80%;
        margin-inline: auto;
    }

    .terminos-container {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-bottom: 20px;
    }

    .footer {
        height: 400px;
    }

    /** ABOUT US **/
    .banner-about-us-section {
        height: 100vh;
    }

    .logo-banner-about-us-container {
        width: 80%;
        margin-inline: auto;
    }

    .aboutus-middle {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .texto-aboutus-middle {
        width: 95%;
    }

    .texto-aboutus-middle p {
        width: 100%;
        text-align: justify;
    }

    .texto-aboutus-middle h3 {
        line-height: 1.2;
    }

    /** BENEFICIOS **/

    .beneficios-del-barre {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .titulo-beneficios {
        width: 100%;
    }

    .titulo-beneficios h3 {
        width: 90%;
        margin-inline: auto;
        margin-bottom: 50px;
    }

    .listado-beneficios {
        width: 70%;
        margin-inline: auto;
    }

    .elemento-top-beneficios img {
        width: 25px;
    }

    .texto-central-beneficios p {
        width: 90%;
    }

    .elemento-top-beneficios {
        width: 90%;
    }

    .elemento-bottom-beneficios {
        width: 90%;
    }

    /** PAQUETES **/
    .main-section-paquetes h1 {
        font-size: 4rem;
    }

    /** COACHES **/
    .coach {
        height: auto;
        overflow: hidden;
    }

    .coach .image-side {
        width: 90%;
        height: 400px;
    }

    .text-side {
        width: 100%;
    }

    .coach .text-side {
        padding-top: 10px;
        padding-inline: 25px;
    }

    .coach .text-side h3 {
        line-height: 1;
        font-size: 5rem;
    }

    .subtitulo-coach {
        width: 180px;
    }

    .elementos-top-coaches img {
        width: 20px;
    }

    .elemento-titulo-coaches {
        margin-bottom: 20px;
    }

    /** CONTACT & LOGIN **/
    .general-form-container {
        width: 95%;
    }

    /** RESERVA **/
    .contenido-seleccion-clase {
        width: 95%;
        margin-inline: auto;
    }

    .first-flex h2 {
        font-size: 3rem;
        margin-block: 20px 30px;
    }

    .my-account-link {
        font-size: 2rem;
    }

    .elemento-clase {
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        border-radius: 20px;
    }

    .first-flex-clase {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .img-clase-container {
        width: 100%;
        height: 250px;
    }

    .nombrecoach-horarioclase {
        width: 95%;
    }

    .second-flex-clase {
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .iconos-container {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .btn-reservar-clase-container {
        width: 200px;
        margin-inline: auto;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
    }

    .btn-reservar-clase-container a {
        width: 90%;
        margin-inline: auto;
        text-align: center;
    }

    .btn-reservar-clase-container p {
        width: 90%;
        margin-inline: auto;
        text-align: center;
    }

    .modal-detalles-bebida {
        width: 280px;
    }

    .botones-bebida {
        gap: 10px;
    }

    .confirmation-section {
        width: 90%;
        margin-inline: auto;
    }

    .elemento-clase-confirmacion {
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        border-radius: 20px;
    }

    #confirm-disciplina {
        margin-bottom: 20px;
    }
}



@media(min-width: 400px) and (max-width: 767px) {
    .fundadoras-section {
        position: relative;
        height: 650px;
        display: flex;
        flex-direction: column;
    }

    .elemento-central-fundadoras {
        margin-top: 40px;
        width: 98%;
        margin-inline: auto;
        height: 500px;
    }

    .elementos-izquierda-fundadoras {
        position: absolute;
        height: 90%;
    }

    .elementos-derecha-fundadoras {
        position: absolute;
        height: 90%;
        right: 0%;
    }

    .fila-izquierda {
        top: -2%;
    }

    .fundadoras-nombre p {
        font-size: 2.8rem;
    }

    .elemento-bottom-fundadoras h4 {
        font-size: 2rem;
    }

    .descripcion-section img {
        padding-bottom: 80px;
    }

    .descripcion-section p {
        width: 95%;
        margin-inline: auto;
        font-size: 1.5rem;
    }

    .descripcion-section p:last-of-type {
        font-size: 1.5rem;
    }

    .wellness-texto {
        width: 190px;
    }

    .wellness-texto p {
        margin-bottom: 0px !important;
    }

    .wellness-texto img {
        width: 13px;
        margin-top: -5px;
        padding-block: 0px;
        margin-left: -10px;
    }

    .slide {
        flex: 0 0 100%;
        width: 100vw;
    }

    .slider img {
        width: 100%;
    }

    .texto-slider {
        margin-top: 70%;
    }

    .texto-slider p {
        font-size: 3.5rem;
    }

    .texto-slider a {
        width: 130px;

    }

    .card {
        width: 95%;
    }

    .elemento-central-preguntas {
        margin-block: 80px;
    }

    .preguntas-version {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
    }

    .accordion {
        width: 95%;
        margin-inline: auto;
    }

    .logo-container {
        padding-top: 150px;
    }

    .logo-container img {
        width: 80%;
        margin-inline: auto;
    }

    .terminos-container {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-bottom: 20px;
    }

    .footer {
        height: 400px;
    }

    /** ABOUT US **/
    .banner-about-us-section {
        height: 100vh;
    }

    .logo-banner-about-us-container {
        width: 80%;
        margin-inline: auto;
    }

    .aboutus-middle {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .texto-aboutus-middle {
        width: 95%;
    }

    .texto-aboutus-middle p {
        width: 100%;
        text-align: justify;
    }

    .texto-aboutus-middle h3 {
        line-height: 1.2;
    }

    /** BENEFICIOS **/

    .beneficios-del-barre {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .titulo-beneficios {
        width: 100%;
    }

    .titulo-beneficios h3 {
        width: 90%;
        margin-inline: auto;
        margin-bottom: 50px;
    }

    .listado-beneficios {
        width: 100%;
        margin-inline: auto;
        justify-content: center;

    }

    .elemento-top-beneficios img {
        width: 25px;
    }

    .texto-central-beneficios p {
        width: 90%;
    }

    .elemento-top-beneficios {
        width: 90%;
    }

    .elemento-bottom-beneficios {
        width: 90%;
    }

    /** COACHES **/
    .coach {
        height: auto;
        overflow: hidden;
    }

    .coach .image-side {
        width: 100%;
        height: 400px;
    }

    .text-side {
        width: 100%;
    }

    .coach .text-side {
        padding-top: 10px;
        padding-inline: 25px;
    }

    .coach .text-side h3 {
        line-height: 1;
        font-size: 5rem;
    }

    .subtitulo-coach {
        width: 180px;
    }

    .elementos-top-coaches img {
        width: 20px;
    }

    .elemento-titulo-coaches {
        margin-bottom: 20px;
    }

    /** CONTACT & LOGIN **/
    .general-form-container {
        width: 95%;
    }

    /** RESERVA **/
    .contenido-seleccion-clase {
        width: 95%;
        margin-inline: auto;
    }

    .first-flex h2 {
        font-size: 3rem;
        margin-block: 20px 30px;
    }

    .my-account-link {
        font-size: 2rem;
    }

    .elemento-clase {
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        border-radius: 20px;
    }

    .first-flex-clase {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .img-clase-container {
        width: 100%;
        height: 250px;
    }

    .nombrecoach-horarioclase {
        width: 95%;
    }

    .second-flex-clase {
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .iconos-container {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .btn-reservar-clase-container {
        width: 200px;
        margin-inline: auto;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
    }

    .btn-reservar-clase-container a {
        width: 90%;
        margin-inline: auto;
        text-align: center;
    }

    .btn-reservar-clase-container p {
        width: 90%;
        margin-inline: auto;
        text-align: center;
    }

    .confirmation-section {
        width: 90%;
        margin-inline: auto;
    }

    .elemento-clase-confirmacion {
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        border-radius: 20px;
    }

    #confirm-disciplina {
        margin-bottom: 20px;
    }
}

@media(min-width: 767px) and (max-width: 1199px) {
    .slider img {
        width: 100%;
    }

    .slide {
        flex: 0 0 50%;
    }

    .texto-slider {
        margin-top: 55%;
    }

    .cards-container {
        gap: 2rem;
        width: 95%;
        overflow: hidden;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
    }

    .card {
        width: 350px;
        height: 400px;
        margin-inline: auto;
        margin-bottom: 50px;
    }

    .preguntas-section {
        overflow: 100%;
        overflow: hidden;
    }

    .elemento-central-preguntas {
        margin-block: 80px;
    }

    .fundadoras-section {
        position: relative;
        height: 650px;
        display: flex;
        flex-direction: column;
    }

    .elemento-central-fundadoras {
        margin-top: 40px;
        width: 400px;
        margin-inline: auto;
        height: 500px;
    }

    .preguntas-version {
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
    }

    .elementos-izquierda-fundadoras {
        position: absolute;
        height: 90%;
    }

    .elementos-derecha-fundadoras {
        position: absolute;
        height: 90%;
        right: 0%;
    }

    .accordion {
        width: 80%;
    }

    .elemento-central-preguntas {
        margin-block: 100px 150px;
    }

    /** PAQUETES **/
    .membresias-paquetes .cards-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }

    .cards-container {
        overflow: visible;
    }

    /** COACHES **/
    .coach .text-side h3 {
        line-height: 1;
        font-size: 4rem;
    }

    .coach .text-side p {
        line-height: 1.1;
    }

    .subtitulo-coach {
        width: 180px;
    }

    /* .smoothies-disponibles {
        text-align: center;
        margin: 2px 0;
        font-size: 12px;
        color: #888;
    }

    .smoothies-disponibles small {
        margin: 0;
        font-style: italic;
        line-height: 1.3;
    } */

}