.fondo-fundadoras {
    background-color: #e7dfd5;
}

.fundadoras-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-block: 30px;
}

.elemento-central-fundadoras img{
    width: 60px;
    height: auto;
    margin-inline: auto;
}

.elemento-central-fundadoras {
    position: relative;
    background-image: url(../images/aboutus.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    width: 400px;
    height: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    overflow: hidden;
}

.elemento-central-fundadoras::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  pointer-events: none;
  z-index: 0;
}

.elemento-central-fundadoras > * {
  position: relative;
  z-index: 1;
}

.fundadoras-nombre {
    margin-inline: auto;
}

.fundadoras-nombre p{
    line-height: 1;
    font-size: 3.5rem;
    color: #e7dfd5;
}

.button-fundadoras {
    position: absolute;
    top: 5%;
    left: 5%;
}

.elementos-izquierda-fundadoras {
    position: relative;
    display: flex;
    padding-left: 20px;
    height: 100%;
}

.elemento-top-fundadoras {
    margin-bottom: auto;
    position: absolute;
    top: 0%;
}

.elemento-bottom-fundadoras{
    margin-top: auto;
}

.elemento-bottom-fundadoras p{
    line-height: 1;
    font-size: 1rem;
    text-align: right;
}

.elemento-bottom-fundadoras h4 {
    font-size: 2rem;
}

.elementos-derecha-fundadoras {
    position: relative;
    display: flex;
    align-items: end;
    justify-content: right;
    padding-right: 20px;
}


.fila-izquierda img {
    width: 20px;
}

.descripcion-section {
    background-color: #f8f8f8;
    height: auto;
    min-height: 550px;
    color: black;
}

.descripcion-section p {
    color: black;
    font-style: normal;
    font-size: 2rem;
    line-height: 1.1;
}

.descripcion-section a {
    width: 100px;
    text-align: center;
    margin-inline: auto;
    text-decoration: underline;
}

.wellness-texto {
    max-width: 200px;
    margin-block: 20px;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
}

.wellness-texto p {
    margin-top: 0px !important;
    font-weight: 600;
    font-size: 15px;

}

.wellness-texto img {
    width: 20px;
    height: auto;
    margin-inline: 5px;
}

.coaches-section {
    height: auto;
}

.slider {
    width: 100vw;
    padding-block: 0px;
    height: auto;
}

.slide {
    height:100%;
    border-radius: 0px;
}

.slide img {
    filter: brightness(0.9);
}

.sli1 {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 750px;
    border-radius: 0px;
}

.coaches-slider-discipline {
    display: none;
}

.slider-container {
    gap: 0px;
    width: 100vw;
    margin-inline: auto;
}

.slide.center {
    transform: scale(1);
}

.slider-container-global {
    position: relative;
    width: 100vw;
    height: auto;
}

.flecha-slider{
    position: absolute;
    z-index: 5;
}

.fi{
    left: 2%;
}

.fd{
    right: 2%;
}
.contenido-slider{
    width: 100%;
    height: 100%;
    position: absolute;
}

.texto-slider {
    width: 200px;
    margin-inline: auto;
    margin-top: 50%;
}

.texto-slider p{
    text-align: left;
    margin-left: 30px;
    color: #f8f8f8;
    font-size: 50px;
}

.texto-slider a {
    margin-inline: auto;
    width: 150px;
    text-align: center;
    color: #f8f8f8;
    border: 1px solid #f8f8f8;
    border-radius: 10px;
    font-size: 20px;
}

.texto-slider-final {
    position: absolute;
    text-align: center;
    color: #f8f8f8;
    bottom: 5%;
}


.texto-slider-final p {
    font-size: 25px;
}
.texto-slider-final a{
    text-decoration: underline;
    font-size: 10px;
}

.membresias-section h2 {
    color: #545252;
    font-style: italic;
    font-size: 4rem;
}

.cards-container {
    align-items: center;
    justify-content: center;
    gap: 8rem;
}

.card {
    justify-content: center;
    align-items: center;
    width: 380px;
    padding: 40px 75px;
}

.tipo-card {
    color: #383737;
}

.numero-clases-card {
    color: #a0a98c;
    margin-top: -30px;
    margin-bottom: -50px;
}

.precio-card {
    color: #383737;
}

.vigencia-card {
    color: #383737;
}

.card a {
    background-color: #38373700;
    color: #383737;
    text-decoration: underline;
    font-weight: 600;
    margin-top: 40px;
}

.ver-mas-paquetes-btn {
    background-color: #38373700;
    color: #383737;
    text-decoration: underline;
}

.ver-mas-paquetes-btn:hover {
    background-color: #38373700;
    color: #383737;
    text-decoration: underline;
}

.preguntas-section h2 {
    color: #383737;
    font-style: italic;
}



.accordion {
    margin-bottom: 20px;
    width: 100%;
    margin-inline: auto;
    border: 1px solid #383737;
    border-radius: 10px;
}
.panel {
    margin-inline: auto;
    border-bottom: none;
    color: #545252;
}

.accordion > p {
    color: #383737;
    text-decoration: underline;
}

.aboutus-fundadoras-fondo {
    background-color: #e7dfd5;
}

.aboutus-fundadoras {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-inline: auto;
}

.aboutus-top {
    width: 95%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
}

.aboutus-bottom {
    width: 95%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
}

.aboutus-elemento-izquierda {
    margin-right: auto;
    left: 0%;
}

.aboutus-elemento-derecha {
    margin-left: auto;
    right: 0%;
}

.aboutus-elemento-derecha img {
    width: 30px;
}

.elemento-reviving {
    margin-top: 0px;
}

.aboutus-middle {
    width: 90%;
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.texto-aboutus-middle {
    width: 50%;
    text-align: center;
    margin-inline: auto;
}

.texto-aboutus-middle h3 {
    color: #383737;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.texto-aboutus-middle p{
    width: 80%;
    margin-inline: auto;
    font-weight: 400;
    line-height: 1.3;
    font-size: 1.6rem;
}

.footer {
    background-color: #9fa888;
    height: 400px;
    color: #383737;
}

#video-footer {
    display: none;
}

.terminos-container {
    color: #383737;
}

.terminos-container a {
    font-size: 1.6rem;
    font-weight: 400;
}

.icons-container img {
    filter: invert(0);
}

.encuentra-container {
    background-color: #f8f8f8;
    padding-inline: 2%;
    padding-block: 3%;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.encuentra-container-calendario {
    margin-block: 40px;
    background-color: #f8f8f8;
    padding-inline: 2%;
    padding-block: 2%;
    border-radius: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.slider-calendar-container {
    margin-top: 0px;
}

.first-flex {
    margin-top: 0px;
}

.second-flex {
    justify-content: start;
}

.second-flex p {
    font-size: 1.2rem;
}


.icono-reserva {
    width: 25px;
}

.aforo-icono {
    width: 15px;
}

.inputs-reserva-container {
    justify-content: end;
    gap: 3rem;
    margin-top: -20px;
}

.inputs-reserva-container select {
    font-size: 10px;
    text-align: left;
    height: auto;
    padding-block: 5px;
    padding-inline: 5px;
    width: 105px;
    background-size: 10px;
}

.elemento-clase {
    width: 90%;
    height: 150px;
    margin-inline: auto;
    border-bottom: none;
    margin-block: 20px;
    background-color: #e7dfd5;
    padding-right: 20px;
    border-radius: 100px;
    overflow: hidden;
    padding-block: 0px;
}


.fecha-clase-container {
    width: 95%;
    margin-inline: auto;
}

.img-clase-container {
    height: 100%;
    border-radius: 0px;
}

.map-section-bottom {
    background-color: #9fa888;
}

.main-section-contacto {
    background-image: url(../images/contacto.png);
    object-fit: cover;
    background-repeat: no-repeat;
}

.general-form-container {
    width: 450px;
}

.logo-form-container {
    position: relative;
    background-color: #9fa888;
    height: 80px;
    
}

.logo-form-container img {
    width: 150px;
    position: absolute;
    top: -40%;
    margin-inline: auto;
    left: 0%;
    right: 0%;
}

form .submit-btn {
    background-color: #9fa888;
}

.map-section iframe {
  width: 100%;
  height: 70vh;
  max-height: 600px;
}

.elementos-top-coaches {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-inline: auto;
    padding-top: 20px;
}

.elemento-titulo-coaches {
    width: 100%;
    margin-inline: auto;
    text-align: center;
    color: #383737;
    margin-bottom: 100px;
    font-size: 3rem;
}

.elemento-coaches-derecha {
    margin-left: auto;
}
.elementos-top-coaches img{
    width: 40px;
}

.training-for-life-section {
    margin-block: 50px;
    width: 90%;
    max-width: 1200px;
    margin-inline: auto;
    border-radius: 50px;
}

.coach {
    background-color: #f8f8f8;
    height: 450px;
}

.text-side {
    width: 70%;
    color: #383737;
    background-color: #38373700;
}

.coach .image-side {
    border-radius: 50px;
    width: 30%;
}

.coach .image-side img{
    object-fit: cover;
}

.coach .text-side h3{
    text-align: center;
    color: #a0a98c;
    font-size: 6rem;
    margin-bottom: 30px;
}

.coach .text-side p {
    margin-inline: auto;
    text-align: center;
    font-size: 2rem;
}

.coach .text-side a:first-of-type {
    margin-inline: auto;
    text-align: center;
    color: #111111;
}

.subtitulo-coach {
    padding-block: 20px;
    width: 210px;
    display: flex;
    flex-direction: row;
    margin-inline: auto;
    align-items: center;
    justify-content: center;
}

.subtitulo-coach p {
    font-size: 1.8rem !important;
    margin-inline: 0px;
    font-weight: 600;
    margin-inline: 0px !important;
    color: #111111;
}

.subtitulo-coach img{
    width: 20px;
}

.inputs-container {
    display: none;
}

.membresias-paquetes .cards-container {
    gap: 80px;
}

.membresias-paquetes .card:hover {
    background-color: #b3b3b3;
}

.membresias-paquetes .card:hover a {
    border: 0px;
}

.membresias-paquetes .card a:hover {
    background-color: #38373700;
}

.tipo-card {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.main-section-paquetes h1 {
    color: #545252;
}

.elemento-top-beneficios img {
    width: 30px;
}

.beneficios-section-texto {
    padding-block: 30px;
    background-color: #ebe9e6;
}

.texto-central-beneficios {
    width: 90%;
    margin-inline: auto;
    text-align: center;
    padding-block: 30px;
}

.texto-central-beneficios h3 {
    font-size: 4rem;
    font-weight: 600;
}

.texto-central-beneficios p {
    width: 550px;
    margin-inline: auto;
    line-height: 1.4;
    font-size: 1.8rem;
    font-weight: 500;
    margin-block: 20px 50px;

}


.wellness-beneficios img{
    margin-right: 40px;
}

.wellness-beneficios p{
    font-size: 1.6rem;
    width: 150px;
    margin-block: 0px;
    font-weight: 600;
}

.elemento-bottom-beneficios {
    width: 95%;
    margin-inline: auto;
    text-align: right;
}

.elemento-top-beneficios {
    width: 95%;
    margin-inline: auto;
}

.elemento-bottom-beneficios p {
    line-height: 1.2;
    font-size: 1rem;
    font-weight: 600;
}


.beneficios-barre {
    background-image: url(../images/aboutus.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.beneficios-barre img {
    width: 200px;
    margin-inline: auto;
    margin-bottom: 50px;
}

.beneficios-del-barre{
    width: 80%;
    margin-inline: auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    color: #f8f8f8;
    justify-content: center;
    align-items: center;
}

.titulo-beneficios {
    align-items: center;
    width: 55%;
    text-align: center;
}

.titulo-beneficios h3 {
    margin-inline: auto;
    margin-bottom: 125px;
    font-size: 5rem;
    width: 200px;
    font-weight: 500;
    line-height: 1;
}

.listado-beneficios {
    width: 40%;
    display: flex;
}

.linea-beneficios {
    margin-top: 20px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 
    margin-right: 20px;
    position: relative;
}

.linea-beneficios::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background: #f8f8f8;
}


.linea-beneficios .punto {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #f8f8f8;
  z-index: 1; 
}

.beneficio-container {
    border: 1px solid #f8f8f8;
    border-radius: 10px;
    padding: 5px;
    width: 150px;
    text-align: center;
}

.beneficio-container h4{
    font-size: 2.3rem;
    text-align: center;
    font-weight: 500;
}

.texto-beneficios p {
    margin-top: 10px;
    margin-left: 5px;
    width: 200px;
    line-height: 1.2;
}

.texto-beneficios {
    margin-bottom: 100px;
}